<launch>
  <arg name="id_0" value="0"/>
  <arg name="id_1" value="1"/>
  <arg name="id_2" value="2"/>
  <arg name="id_3" value="3"/>
  <arg name="id_4" value="4"/>
  <arg name="id_5" value="5"/>

  <group ns="typhoon_h480_0">
    <include file="$(find mapping)/launch/mapping.launch">
      <arg name="odom_" value="mavros/local_position/odom"/>
      <!--<arg name="depth_" value="realsense/depth_camera/depth/image_raw"/>-->
    </include>

    <node name="mapping_vis" pkg="mapping" type="mapping_vis_node">
      <remap from="~gridmap" to="gridmap"/>
      <remap from="~gridmap_inflate" to="gridmap_inflate"/>
    </node>
    <node pkg="odom_visualization" name="odom_visualization" type="odom_visualization" output="screen">
      <remap from="~odom" to="mavros/local_position/odom" />
      <param name="robot_scale" value="1.0"/>
    </node>
    <node pkg="target_ekf" name="target_ekf_sim_node" type="target_ekf_sim_node" output="screen">
      <rosparam command="load" file="$(find target_ekf)/config/camera.yaml" />
      <param name="pitch_thr" value="37"/>
      <remap from="~yolo" to="yolo"/>
      <remap from="~odom" to="mavros/local_position/odom"/>
      <remap from="~target_odom" to="/target_ekf_odom"/>
    </node>

    <include file="$(find planning)/launch/planning.launch">
      <arg name="id" value="$(arg id_0)" />
      <arg name="rhosVisibility_" value="10000.0"/>
      <arg name="rhoTracking_" value="1000.0"/>
      <arg name="target_name_" value="/target_ekf_odom"/>
    </include>
  </group>
  <!--4.16更改-->
  <group ns="typhoon_h480_1">
    <include file="$(find mapping)/launch/mapping.launch">
      <arg name="odom_" value="mavros/local_position/odom"/>
      <!--<arg name="depth_" value="realsense/depth_camera/depth/image_raw"/>-->
    </include>

    <node name="mapping_vis" pkg="mapping" type="mapping_vis_node">
      <remap from="~gridmap" to="gridmap"/>
      <remap from="~gridmap_inflate" to="gridmap_inflate"/>
    </node>
    <node pkg="odom_visualization" name="odom_visualization" type="odom_visualization" output="screen">
      <remap from="~odom" to="mavros/local_position/odom" />
      <param name="robot_scale" value="1.0"/>
    </node>
    <node pkg="target_ekf" name="target_ekf_sim_node" type="target_ekf_sim_node" output="screen">
      <rosparam command="load" file="$(find target_ekf)/config/camera.yaml" />
      <param name="pitch_thr" value="37"/>
      <remap from="~yolo" to="yolo"/>
      <remap from="~odom" to="mavros/local_position/odom"/>
      <remap from="~target_odom" to="/target_ekf_odom"/>
    </node>

    <include file="$(find planning)/launch/planning.launch">
      <arg name="id" value="$(arg id_1)" />
      <arg name="rhosVisibility_" value="10000.0"/>
      <arg name="rhoTracking_" value="1000.0"/>
      <arg name="target_name_" value="/target_ekf_odom"/>
    </include>
  </group>

  <group ns="typhoon_h480_2">
    <include file="$(find mapping)/launch/mapping.launch">
      <arg name="odom_" value="mavros/local_position/odom"/>
      <!--<arg name="depth_" value="realsense/depth_camera/depth/image_raw"/>-->
    </include>

    <node name="mapping_vis" pkg="mapping" type="mapping_vis_node">
      <remap from="~gridmap" to="gridmap"/>
      <remap from="~gridmap_inflate" to="gridmap_inflate"/>
    </node>
    <node pkg="odom_visualization" name="odom_visualization" type="odom_visualization" output="screen">
      <remap from="~odom" to="mavros/local_position/odom" />
      <param name="robot_scale" value="1.0"/>
    </node>
    <node pkg="target_ekf" name="target_ekf_sim_node" type="target_ekf_sim_node" output="screen">
      <rosparam command="load" file="$(find target_ekf)/config/camera.yaml" />
      <param name="pitch_thr" value="37"/>
      <remap from="~yolo" to="yolo"/>
      <remap from="~odom" to="mavros/local_position/odom"/>
      <remap from="~target_odom" to="/target_ekf_odom"/>
    </node>

    <include file="$(find planning)/launch/planning.launch">
      <arg name="id" value="$(arg id_2)" />
      <arg name="rhosVisibility_" value="10000.0"/>
      <arg name="rhoTracking_" value="1000.0"/>
      <arg name="target_name_" value="/target_ekf_odom"/>
    </include>
  </group>

  <group ns="typhoon_h480_3">
    <include file="$(find mapping)/launch/mapping.launch">
      <arg name="odom_" value="mavros/local_position/odom"/>
      <!--<arg name="depth_" value="realsense/depth_camera/depth/image_raw"/>-->
    </include>

    <node name="mapping_vis" pkg="mapping" type="mapping_vis_node">
      <remap from="~gridmap" to="gridmap"/>
      <remap from="~gridmap_inflate" to="gridmap_inflate"/>
    </node>
    <node pkg="odom_visualization" name="odom_visualization" type="odom_visualization" output="screen">
      <remap from="~odom" to="mavros/local_position/odom" />
      <param name="robot_scale" value="1.0"/>
    </node>
    <node pkg="target_ekf" name="target_ekf_sim_node" type="target_ekf_sim_node" output="screen">
      <rosparam command="load" file="$(find target_ekf)/config/camera.yaml" />
      <param name="pitch_thr" value="37"/>
      <remap from="~yolo" to="yolo"/>
      <remap from="~odom" to="mavros/local_position/odom"/>
      <remap from="~target_odom" to="/target_ekf_odom"/>
    </node>

    <include file="$(find planning)/launch/planning.launch">
      <arg name="id" value="$(arg id_3)" />
      <arg name="rhosVisibility_" value="10000.0"/>
      <arg name="rhoTracking_" value="1000.0"/>
      <arg name="target_name_" value="/target_ekf_odom"/>
    </include>
  </group>

  <group ns="typhoon_h480_4">
    <include file="$(find mapping)/launch/mapping.launch">
      <arg name="odom_" value="mavros/local_position/odom"/>
      <!--<arg name="depth_" value="realsense/depth_camera/depth/image_raw"/>-->
    </include>

    <node name="mapping_vis" pkg="mapping" type="mapping_vis_node">
      <remap from="~gridmap" to="gridmap"/>
      <remap from="~gridmap_inflate" to="gridmap_inflate"/>
    </node>
    <node pkg="odom_visualization" name="odom_visualization" type="odom_visualization" output="screen">
      <remap from="~odom" to="mavros/local_position/odom" />
      <param name="robot_scale" value="1.0"/>
    </node>
    <node pkg="target_ekf" name="target_ekf_sim_node" type="target_ekf_sim_node" output="screen">
      <rosparam command="load" file="$(find target_ekf)/config/camera.yaml" />
      <param name="pitch_thr" value="37"/>
      <remap from="~yolo" to="yolo"/>
      <remap from="~odom" to="mavros/local_position/odom"/>
      <remap from="~target_odom" to="/target_ekf_odom"/>
    </node>

    <include file="$(find planning)/launch/planning.launch">
      <arg name="id" value="$(arg id_4)" />
      <arg name="rhosVisibility_" value="10000.0"/>
      <arg name="rhoTracking_" value="1000.0"/>
      <arg name="target_name_" value="/target_ekf_odom"/>
    </include>
  </group>

  <group ns="typhoon_h480_5">
    <include file="$(find mapping)/launch/mapping.launch">
      <arg name="odom_" value="mavros/local_position/odom"/>
      <!--<arg name="depth_" value="realsense/depth_camera/depth/image_raw"/>-->
    </include>

    <node name="mapping_vis" pkg="mapping" type="mapping_vis_node">
      <remap from="~gridmap" to="gridmap"/>
      <remap from="~gridmap_inflate" to="gridmap_inflate"/>
    </node>
    <node pkg="odom_visualization" name="odom_visualization" type="odom_visualization" output="screen">
      <remap from="~odom" to="mavros/local_position/odom" />
      <param name="robot_scale" value="1.0"/>
    </node>
    <node pkg="target_ekf" name="target_ekf_sim_node" type="target_ekf_sim_node" output="screen">
      <rosparam command="load" file="$(find target_ekf)/config/camera.yaml" />
      <param name="pitch_thr" value="37"/>
      <remap from="~yolo" to="yolo"/>
      <remap from="~odom" to="mavros/local_position/odom"/>
      <remap from="~target_odom" to="/target_ekf_odom"/>
    </node>

    <include file="$(find planning)/launch/planning.launch">
      <arg name="id" value="$(arg id_5)" />
      <arg name="rhosVisibility_" value="10000.0"/>
      <arg name="rhoTracking_" value="1000.0"/>
      <arg name="target_name_" value="/target_ekf_odom"/>
    </include>
  </group>
</launch>
